body {
    font-family: 'Arial', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?nature,water') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    color: #fff;
   
}

.timer {
    font-size: 4rem;
    margin: 20px 0;
}

.custom-time {
    margin: 20px 0;
}

.custom-time input {
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}

.custom-time button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: #fff;
}

.custom-time button:hover {
    opacity: 0.8;
}

.buttons button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton {
    background-color: #28a745;
    color: #fff;
}

#stopButton {
    background-color: #dc3545;
    color: #fff;
}

#resetButton {
    background-color: #ffc107;
    color: #000;
}

.buttons button:hover {
    opacity: 0.8;
}
